<!DOCTYPE html>
<html>
  <head>
    <title>bouncer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <main>
      <header>bouncer</header>
      <section>{{{body}}}</section>
    </main>
    <footer>
      <p>A <a href="https://epi.codes">epi.codes</a> project</p>
      <p>Artwork from the RUINER game, all credit goes to <a href="https://www.artstation.com/artwork/DeKW0">Benedykt Szneider</a></p>
    </footer>
  </body>
</html>
